body{
    

}

.navbar {
  background-color: transparent;
  border: none;
  color: white;
  z-index: 10000;
  transition: background-color 1s ease 0s;
}



.navbar-default .navbar-brand {
    font-family: 'Amaranth', sans-serif;
    color: rgb(126, 108, 252);
}
.navbar-default .navbar-nav > li > a {
  color: white;
  margin: 10px 5px 5px 5px;
  font-family: 'Raleway', sans-serif;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:active, .navbar-default .navbar-nav > li > a:focus {
  color: #37dbf5!important;
  background-color: #583D94;

}
.navbar-default .navbar-nav > li > a:visited {
  color: rgb(126, 108, 252);
  text-decoration: none;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
  background-color: transparent;
  color: white;
}
.navbar-default .navbar-toggle {
  border-color: #C57ED3;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
  background-color: #490D40;
}
.navbar-default .navbar-toggle .icon-bar {
  color: #C57ED3;
  background-color: #C57ED3;
}
.navbar-default .navbar-collapse.collapse.in ul {
  background-color: #490D40;
}

/* Solid class attached on scroll past first section */
.navbar.solid {
  background-color: rgba(65, 44, 111,1);
  transition: background-color 1s ease 0s;
  box-shadow: 0 0 4px grey;
}
.navbar.solid .navbar-brand {
  color: rgb(126, 108, 252);
  transition: color 1s ease 0s;
}
.navbar.solid .navbar-nav > li > a {
  color: rgb(126, 108, 252);
  transition: color 1s ease 0s;
}



.wave{
	width: 100%;
	min-height: 125vh;
	position: relative;
	background-image:url('../img/562634.jpg');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
.wave .container {
	height: 100%;
}

.wave .container .row{
	height: 100vh;
}

.text-header{
	max-width: 800px;
    margin: 0 auto;
    margin-bottom: 70px;
    padding: 0 20px;
}

.text-header p{
	font-family: 'Raleway', sans-serif;	
	font-weight: 600;
  	font-size:25px;

  	text-align: left;
  	
 

}
.text-header h1{
	font-family: 'Amaranth', sans-serif;
	font-size: 80px;
    color: rgb(126, 108, 252);
    text-shadow: -1px 0 #37dbf5, 0 1px #37dbf5, 1px 0 #37dbf5, 0 -1px #37dbf5;



	

}
.text-header h2{
	font-family: 'Raleway', sans-serif;
	font-size: 25px;
	color: #37dbf5;
	font-weight: 600;
	text-align: right;
	

}

.wave:before{
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height:230px;
	background: url('../img/wave.png');
	background-size: cover;
	background-repeat: no-repeat;
	z-index: 100;
}

.overlay{
	width: 100%;
	height: 100%;
	
	background: linear-gradient(90deg, rgb(48, 33, 79) , rgba(55, 38, 92,0.99),rgba(65, 44, 111,0.95),rgba(79, 55, 133,0.95));
	position: absolute;
	background-attachment: fixed;
	background-size: cover;
}

/*ABOUT Section*/
.about-section {
    position: relative;
    padding: 160px 0px 0px;
    background-size: cover;
    background: white;
}
.about-section .content-column {
    position: relative;
    margin-bottom: 60px;
}
.about-section .content-column .inner-column {
    position: relative;
    padding-top: 20px;
}

.about-section .content-column .big-title {
	font-family: 'Montserrat',sans-serif;
    position: absolute;
    left: 0px;
    top: -20px;
    font-size: 115px;
    font-weight: 800;
    text-transform: uppercase;
    color:rgba(48, 33, 79,0.15);
    letter-spacing: 1px;
}

.about-section .content-column h2 {


     font-family: 'Montserrat',sans-serif;
    position: relative;
    color: #333333;
    font-size: 43px;
    font-weight: 600;
    line-height: 1.2em;
    padding-top: 8%;


        
}
.about-section .content-column .text {
    position: relative;
    color: #666666;
    font-size: 14px;
    line-height: 2em;
    margin-bottom: 32px;
     font-family: 'Raleway', sans-serif;
}

.about-section .image-column {
    position: relative;
}

.about-section .image-column .image {
    position: relative;
    margin-bottom: -175px;
}
.about-section .image-column img {
    position: relative;
    
}


.separator .container .row{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.separator .container .row h2{
    font-family: 'Amaranth', sans-serif;
    color: white;
    font-size: 4rem;
}


/*SERVICES SECTION*/
.service-section{
	position: relative;
    padding: 180px 0px 150px;
    background-image: url('../img/fondo-blur.png');
    background-position: center;
    background-repeat: no-repeat;
    
}
.centered {
    text-align: center !important;
}

.section-title{
	position: relative;
    margin-bottom: 85px;

    z-index: 2;
    font-family: 'Montserrat',sans-serif;
}

.section-title .big-title{
	position: absolute;
    top: -20px;
    width: 100%;
    font-size: 120px;
    font-weight: 800;
    color: rgba(48, 33, 79,0.15);
    text-transform: uppercase;

}

.section-title h2{
	font-family: 'Montserrat',sans-serif;
	position: relative;
    color: #333333;
    font-size: 43px;
    font-weight: 600;
    line-height: 1.2em;
    padding-top: 8%;

}

.featured-block-three {
    position: relative;
    margin-bottom: 40px;
}

.featured-block-three .inner-box {
    position: relative;
    display: block;
}

.featured-block-three .inner-box .icon-box {
    position: relative;
    
    font-size: 60px;
    line-height: 1em;
    margin-bottom: 18px;
}

.featured-block-three .inner-box .icon-box .fal{
    color: rgb(126, 108, 252);
}

.featured-block-three .inner-box h3 {
    position: relative;
    color: black;
    font-size: 20px;
    font-weight: 700;
    line-height: 1.2em;
    margin-bottom: 16px;
     font-family: 'Montserrat',sans-serif;
}
.featured-block-three .inner-box .text {
    position: relative;
    color: #666666;
    line-height: 1.9em;
    font-family: 'Raleway', sans-serif;
}


.separator{
    min-height: 50vh;
  
   background: -webkit-linear-gradient(to left, #087cf9, #37dbf5);
    background: linear-gradient(to left, #087cf9, #37dbf5);
}


.products-section {
    position: relative;
    padding: 170px 0px 125px;
    background-image: url('../img/fondo-blur.fw.png');
    background-position: center;
    background-repeat: no-repeat;
}

.products-section .section-title .big-title {
   
   color:rgba(48, 33, 79,0.15);
  
   
}


.products-section .sec-title {
    margin-bottom: 50px;
    position: relative;
    margin-bottom: 85px;
    z-index: 2;
    text-align: center;
}

.products-section .sec-title .big-title {
    color: #ffffff;
    position: absolute;
    top: -20px;
    width: 100%;
    font-size: 130px;
    font-weight: 800;
    color: #f6f6f6;
    text-transform: uppercase;
}

.accordian-column .block {
	position: relative;
    padding: 35px 0px;
    margin-bottom: 10px;
    background-color: #ffffff;
    transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -webkit-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    -webkit-box-shadow: 0px 4px 14px 0px rgba(237,237,237,1);
    -moz-box-shadow: 0px 4px 14px 0px rgba(237,237,237,1);
    box-shadow: 0px 4px 14px 0px rgba(237,237,237,1);

}

.accordian-column .block .acc-btn {
    position: relative;
    font-size: 20px;
    cursor: pointer;
    line-height: 30px;
    color: black;
    font-weight: 700;
    padding: 0px 50px 0px 94px;
    transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -webkit-transition: all 500ms ease;
    font-family: 'Montserrat',sans-serif;
}

.acc-btn span{
    padding-left: 15%;
     
}
.accordian-column .block .acc-btn .img-icon-outer {
    position: absolute;
    left: 24px;
    top: -40px;
    color: #f7502e;

}
.card-body{
    position: relative;
    color: #666666;
    line-height: 1.9em;
    font-family: 'Raleway', sans-serif;
}

.accordian-column .block .acc-btn .img-icon-outer .icon-two {
    position: absolute;
    top: 0px;
    opacity: 0;
}

.accordian-column .block .icon-outer {
    position: absolute;
    right: 25px;
    font-size: 18px;
    transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -webkit-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    -o-transition: all 500ms ease;
}

.accordian-column .block .icon-outer .icon {
    position: absolute;
    right: 0px;
    font-size: 18px;
    font-weight: 300;
    line-height: 1.9em;
    text-align: center;
    color: #e3e3e3;
    transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -webkit-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    -o-transition: all 500ms ease;
}

.gallery {
  background: transparent;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.gallery .flickity-viewport{
    width: 100%;
}

.gallery-cell {
  width: 100%;
  height: auto;
  margin-right: 10px;
}

.gallery-cell img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* cell number */

.testimonial-section{
    position: relative;
    padding: 180px 0px 190px;
    background-image: url('../img/fondo-blur.png');
    background-position: center;
    background-repeat: no-repeat;
    

}
.testimonial-section .sec-title {
    margin-bottom: 35px;
}

.carousel{
    width: 100%;
}
.carousel-cell {
    position: relative;
  width: 100%;
  
 
}

/* cell number */
.carousel-cell:before {

}

.carousel-cell .testimonial-single {
    position: relative;
    display: block;
    max-width: 810px;
    margin: 0 auto;
}

.carousel-cell .testimonial-single .author {
    position: relative;
    width: 92px;
    height: 92px;
    margin: 0 auto;
    border-radius: 50%;
    overflow: hidden;
    margin-bottom: 20px;
    border: 3px solid #ffffff;
}
.carousel-cell .testimonial-single .quote-icon {
    position: relative;
    margin-bottom: 10px;
}

.carousel-cell .testimonial-single .text {
    position: relative;
    color: #666666;
    font-size: 18px;
    font-weight: 500;
    line-height: 1.7em;
    text-align: center;
    margin-bottom: 40px;
    font-family: 'Raleway', sans-serif;
}























.contact-section {
    position: relative;
    padding: 130px 0px 130px;
    
   
   
}

.contact-section .big-title{
   color: rgba(48, 33, 79,0.15);
}


.contact-option .option{
   
}
.contact-option .option:before{
        position: absolute;
    content: '';
    left: 36px;
    right: 36px;
    bottom: -6px;
    height: 6px;
    background-color: #087cf9;
}

.contact-option .option .icon{
    position: relative;
    font-size: 60px;
    line-height: 1em;
    margin-bottom: 18px;
    text-align: center;
}

.contact-option .option .icon .fal{
    color: rgb(126, 108, 252);
}

.footer {
    background: linear-gradient(90deg, rgb(48, 33, 79) , rgba(55, 38, 92,0.99),rgba(65, 44, 111,0.95),rgba(79, 55, 133,0.95));
    padding: 80px 0;
}

.option p{
    position: relative;
    color: #666666;
    font-size: 20px;
    font-weight: 700;
    font-family: 'Montserrat',sans-serif;
    text-align: center;
}

.footer-content h1{
    font-family: 'Monoton', cursive;
    font-size: 30px;
    background: -webkit-linear-gradient(rgb(126, 108, 252), #5B4EB5);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-transform: uppercase;
}

.footer-content .social .fab{
    background: -webkit-linear-gradient(rgb(126, 108, 252), #5B4EB5);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 35px;
    padding-right: 5%;
}

.footer-content p{
    color: #FB314E;
    font-family: 'Raleway', sans-serif;
}


@media (max-width: 576px){
    .wave{
        min-height: 100vh;
    }
    .wave:before{
        display: none;
    }
    .text-header h1 {
        font-size: 40px;
        text-align: center;  
    }
    .text-header p {
        font-size: 15px;
        text-align: center;
    }
    .text-header h2 {
        
        font-size: 15px;
        
        font-weight: 600;
        text-align: center;
    }

    .about-section .content-column h2 {
        font-size: 30px;
        text-align: center;
        padding-top: 0%;
    }

    .about-section .content-column .big-title {
    
        font-size: 52px;
        text-align: center;
    }

    .service-section {
        background-position-x:initial;   
    }

    .service-section .section-title h2{
        font-size: 30px;
        text-align: center;
            padding-top: 6%; 
    }

    .service-section .section-title .big-title{
        font-size: 50px;
        text-align: center;
    }

    .products-section {
        background-position-x:right;   
    }

    .products-section .section-title h2 {
        font-size: 30px;
        text-align: center;
            padding-top: 6%;
    }

     .products-section .section-title .big-title{
        font-size: 50px;
        text-align: center;
     }

     .testimonial-section {
        background-position-x:initial;
     }

     .testimonial-section .section-title h2{
        font-size: 30px;
        text-align: center;
            padding-top: 2%;
     }

     .testimonial-section .section-title .big-title{
        font-size: 40px;
        text-align: center;
     }
     .contact-section .section-title h2{
        font-size: 30px;
        text-align: center;
            padding-top: 4%;
     }

     .contact-section .section-title .big-title{
        font-size: 40px;
        text-align: center;
     }
}